.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    margin-top: 70vh;
}

.loginTitle{
    font-weight: 100;
}

input{
    margin-top: 2vh;
    background-color: #2f2f37;
    width: 18vw;
    height: 5vh;
    border-radius: 50px;
    font-size: 16px;
    padding-left: 20px;
    border: none;
}

.loginButton{
    background: linear-gradient(63.18deg, #801ab3, #4c4cff);
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 10vw;
    height: 5vh;
    border-radius: 50px;
    margin-top: 2vh;
    margin-left: 0;
    transition: 0.5s;
}

p{
    margin-top: 4vh;
}

.loginButton:hover{
    box-shadow: 0 0 16px 8px rgba(51,51,255,.25),0 0 8px 8px rgba(51,51,255,.25);
}